.home-footer{
	margin-top: 0!important;
}

.home-section{
	height: 90vh!important;
    margin-bottom: 0!important;
}

.links-list{
	text-align: center;
	margin-top: 5%;
}

.links-list li {
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}


.btn-floating.btn-xlarge {
    width: 100px;
    height: 100px;
}

.btn-floating.btn-xlarge i {
    line-height: 100px;
}

.btn-xlarge i {
    font-size: 3rem;
}

.image-div{
	height: 100%;
}

.portrait{
  height: auto;
  width: 260px;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%!important;
  display: block;
  margin-right:10px;

  float:left
}

.card-content{
    margin-bottom:70px;
    min-height:300px;
}

.home-card{
    max-width:800px;
    max-height:98%;
}


