.portrait{
  height: 300px;
  width: auto!important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%!important;
}

.parallax-container {
  height: 100vh;
}

.card.larger{
  height:600px;
}

.blue-link{
  color:BLUE!important;
}
