body {
    background-color: #eeedec;
}

.header {
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: 70%;
    background-color: #d6d5d4;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    min-width: 300px;
}

.header_title {
    width: 100%;
    padding: auto;
}

.header_content a {
    display: block;
}

.header_title h1 {
    font-family: "Courier New";
    margin-left: 10px;
    text-shadow: 1px 1px #7b1822;
}

.icon {
    height: 80px;
    width: auto;
    border: 0;
}

.frontpage {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 750px;
    padding-top: 20px;
    min-width: 350px;
}

.left_side_content,
.right_side_content {
    background-color: #d6d5d4;
    width: 49%;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    min-width: 175px;
}

.left_side_content {    
    position: relative;
    text-align: center;
}

.right_side_content {    
    float: right;
}

.portrait {
    width: 75%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    margin: auto;
    margin-top: 10%;
    max-width: 350px;
}

.subtitles {
    margin-top: 20%;
    font-family: "Courier New";
    font-size: 20px;
}

.subtitles p {
    margin: 10px;
    word-wrap: break-word;
}

.right_side_content h1 {
    margin: 10%;
    font-size: 28px;
    font-family: "Courier New";
}

.right_side_content p {
    font-family: "Courier New";
    margin: 32px;
    font-size: 24px;
}

@media only screen and (max-device-width: 500px) {

.left_side_content,
.right_side_content{
    display:block;
    width:100%;
    margin-bottom: 20px;

}
.portrait{
    height:50%;
    width:auto;
}

}
